<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.mybatisdb.mapper.UserDetailsCustomMapper">

	<resultMap id="userDetails"
		type="com.example.mybatisdb.dto.UserDetailsDto">
		<result column="user_name" property="userName" />
		<result column="user_id" property="userId" />
	</resultMap>
	
	
	<select id="getUserDetailsByUserName" parameterType="java.util.Map"
		resultMap="userDetails">
		select user_name, user_id  from "user" where
		user_name=#{userName};
	</select>

</mapper>